	<ion-view view-title=" Bookmarks" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-bookmarks" class="page-bookmarks">
		<!-- this page not allowed for edit -->
<div class="list padding">
	<a class="item item-icon-left" href="#/lnn/dashboard_bookmark">
		<i class="icon colorful ion-ios-bookmarks"></i>
		Bookmarks of Dashboard
	</a>
	<a class="item item-icon-left" href="#/lnn/observer_bookmark">
		<i class="icon colorful ion-ios-bookmarks"></i>
		Bookmarks of Observer
	</a>
	<a class="item item-icon-left" href="#/lnn/post_bookmark">
		<i class="icon colorful ion-ios-bookmarks"></i>
		Bookmarks of LNN Posts
	</a>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
