	<ion-view view-title=" About LNN" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_lnn" class=" page-about_lnn">
		<div class="list aboutsetting">
 <a class="item item-icon-left"> 
    <i class="icon ion-information-circled"></i>
    About LNN<br><br>
  <span>The Liberia News Network mobile app features news from the most Reliable Liberia News Publications.</span>
  </a>
  
  <a class="item item-icon-left">
    <i class="icon ion-android-notifications-off"></i>
    Push notification<br><br>
    <span>To display or change notifications settings for news, including turning the alert sound on or off, please go to global Settings sections from your device home screen</span>
  </a>

</div>


		</ion-content>
		<!-- ./content -->
	</ion-view>
