	<ion-view view-title=" {{ the_bush_chicken.title.rendered }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"   id="page-the_bush_chicken_singles" class="page-the_bush_chicken_singles">
		<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">

			<!-- images -->
					<div class="itemn noborder"><img class="full-image" ng-src="{{the_bush_chicken.x_featured_media_medium}}"/></div>
					<!-- ./images -->	
              
              <!-- text -->
					<div class="itemcatsingle"><span class="subdued" ><span class="icon ion-android-globe"> {{the_bush_chicken.x_categories}}</span></span></div>
					<!-- ./text -->
              
              <!-- heading-1 -->
					<div class="item item-divider"  ng-bind-html="the_bush_chicken.title.rendered | to_trusted">{{the_bush_chicken.title.rendered}}</div>
					<!-- ./heading-1 -->
              

				
              	<div class="row dateshare">
				<div class="col col-80">
                  <span class="subdued" >{{the_bush_chicken.x_date | date:'EEE, MMM d' }}</span>
                  </div>
                  
			</div>

              
               
					
              
              
             
              

					<!-- to_trusted -->
					<div class="item item-text-wrap noborder to_trusted {{ fontsize }}" ng-bind-html="the_bush_chicken.content.rendered | strHTML"></div>
					<!-- ./to_trusted -->

					
			</div>
			
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
